<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5>Total Spend</h5>
                            <h4 class="lh-lg my-3">Total Spend</h4>
                            <h5 class="pb-1">(This Month)</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-center">Category Breakdown</h5>
                            <div class="d-flex align-items-center gap-4 px-4 mt-3">
                                <div class="d-flex align-items-end gap-2 justify-content-center" style="height: 100px;">
                                    <div class="bg-primary rounded" style="height: 90px; width: 25px;"></div>
                                    <div class="bg-warning rounded" style="height: 70px; width: 25px;"></div>
                                    <div class="bg-info rounded" style="height: 60px; width: 25px;"></div>
                                    <div class="bg-danger rounded" style="height: 80px; width: 25px;"></div>
                                    <div class="bg-success rounded" style="height: 90px; width: 25px;"></div>
                                </div>
                                <div>
                                    <div class="d-flex align-items-center gap-2">
                                        <div class="bg-primary rounded" style="height: 10px; width: 10px;"></div>
                                        <span style="font-size: 13px;">Utilities</span>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <div class="bg-warning rounded" style="height: 10px; width: 10px;"></div>
                                        <span style="font-size: 13px;">Groceries</span>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <div class="bg-info rounded" style="height: 10px; width: 10px;"></div>
                                        <span style="font-size: 13px;">Entertainment</span>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <div class="bg-danger rounded" style="height: 10px; width: 10px;"></div>
                                        <span class="" style="font-size: 13px;">Transportation</span>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <div class="bg-success rounded" style="height: 10px; width: 10px;"></div>
                                        <span style="font-size: 13px;">Dining Out</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h3>Recent Expenses</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="mb-3">Recent 5 Expenses</h5>
                    <ul class="list-unstyled mb-0 recent-expenses-list">
                        <li class="d-flex align-items-center justify-content-between border-bottom pb-2 mb-2">
                            <span>Utilities</span>
                            <span>$150.00</span>
                        </li>
                        <li class="d-flex align-items-center justify-content-between border-bottom pb-2 mb-2">
                            <span>Utilities</span>
                            <span>$150.00</span>
                        </li>
                        <li class="d-flex align-items-center justify-content-between border-bottom pb-2 mb-2">
                            <span>Utilities</span>
                            <span>$150.00</span>
                        </li>
                        <li class="d-flex align-items-center justify-content-between border-bottom pb-2 mb-2">
                            <span>Utilities</span>
                            <span>$150.00</span>
                        </li>
                        <li class="d-flex align-items-center justify-content-between border-bottom pb-2 mb-1">
                            <span>Utilities</span>
                            <span>$150.00</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<app-expense-table [expenseData]="expenseData" [isTableFixedLayout]="true"></app-expense-table>