<div class="modal fade" id="dynamicConfirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmModalLabel">{{title}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" (click)="onCancel()">{{cancelButtonText}}</button>
        <button type="button" class="btn {{confrimButtonClass}}" (click)="onConfirm()">{{confirmButtonText}}</button>
      </div>
    </div>
  </div>
</div>